---
layout: base
---

<div class="jumbotron landing-page-jumbotron text-center">
  <img src="/assets/img/logo-big.png">

  <p>
  </p>

  <div class="container text-left">
    <div class="row">
      <div class="col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
        <p class="lead">
          Warehaus is a collaboration tool for data-centers allowing everyone to share
          resources and configuration, whether you're a human, bot, in the cloud or
          on-premise.
        </p>
      </div>
    </div>
  </div>

  <p>
  </p>

  <div class="container">
    <div class="row">
      <a class="btn btn-lg btn-primary" href="{{ site.baseurl }}/docs/quick-start">
        Quick Start Guide
      </a>
      <a class="btn btn-lg btn-primary" href="{{ site.baseurl }}/docs/">
        Documentation
      </a>
    </div>
  </div>

  <p>
  </p>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p style="font-size: 1.2rem;">
          Latest release: 0.1.2
        </p>
      </div>
    </div>
  </div>

</div>

{% for post in site.posts %}
<a href="{{ post.url }}">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>
          {{ post.title }}
          <small>
            {% for category in post.categories %}
            <span class="label label-success">{{ category }}</span>
            {% endfor %}
          </small>
        </h3>
        <div class="post-subtitle">
          {{ post.date }}
        </div>
        <p>{{ post.excerpt }}</p>
      </div>
    </div>
  </div>
</a>
{% endfor %}
