<div class="container">
  <div class="text-center">
    <p>&nbsp;</p>
    <p class="op60">
      &copy; 2016
      <a href="https://github.com/warehaus/warehaus/graphs/contributors" target="_warehaus_gh_contributors">
        Warehaus contributors
      </a>
    </p>
    <p class="op60">
      <a href="https://github.com/warehaus/warehaus" target="_warehaus_gh_repo"><i class="fa fa-fw fa-2x fa-github"></i></a>
      <a href="https://twitter.com/warehausio" target="_warehaus_twitter_page"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
    </p>
    <p>&nbsp;</p>
  </div>
</div>
