.docs-page {
  a {
    outline: 0;
  }

  .docs-page-nav {
    font-size: floor(0.9 * $font-size-base);

    img {
      max-width: 100%;
      margin: (1.5 * $font-size-base) 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        white-space: nowrap;
        margin: 0;
        padding: 0;

        &.heading {
          display: block;
          font-weight: $warehaus-font-weight-normal;
          text-transform: uppercase;
          color: $docs-page-nav-heading-color;
          padding: $docs-page-nav-section-spacing
                   $docs-page-nav-spacing-horizontal
                   $docs-page-nav-section-items
                   $docs-page-nav-spacing-horizontal;
        }

        &.active {
          font-weight: 700;
          border-width: 0 0 0 2px;
          border-style: solid;
          border-color: #bbb;
        }

        a {
          outline: 0;
          margin: 0;
          color: $text-color;

          &:hover,
          &:focus {
            text-decoration: none;
            color: $text-color;
          }
        }

        > a, > span {
          display: block;
          padding: $docs-page-nav-section-items $docs-page-nav-spacing-horizontal;
        }

        &:first-child {
          padding-top: 0;
        }

        ul {
          li {
            padding: 0 0 0 floor(0.75 * $font-size-base);
          }
        }
      }

      ul {
        li {
          padding: 0 0 0 floor(0.75 * $font-size-base);
        }
      }
    }

    ul + ul {
      padding: $docs-page-nav-section-spacing 0 0 0;
    }
  }

  .docs-page-content {
    margin: $font-size-base 0;
  }
}
